@model CallBoardNix.Models.UserViewModel
@{
}
<div class="p-5" style="height:835px">
    <h5>
        Personal information for => @Model.UserName <=
    </h5>
    <br>
    <h5>
        Name: @Model.Name<br>
        Surname: @Model.Surname<br>
        Phone number: @Model.PhoneNumber<br><br>
        Email: @Model.Email<br>
    </h5>
</div>