@model CallBoardNix.Models.CompanyResultModel
@{
    
}
<h6 class="text-center" style="margin-top:10px;margin-bottom:10px">
    Search your company or create, the choise is your!
    <a asp-controller="Company" asp-action="CreateCompany">create company</a></h6>

<ul style="height: 690px">
    @foreach(var item in Model.Companys)
    {
    <li class="border mb-3"style="margin-right:26px;height:100px;overflow-wrap:anywhere; overflow:auto; overflow-x:hidden">
        <div class="col p-2"> 
            <a asp-action="CompanyInfo" asp-route-IdCompany="@item.IdCompany">@item.CompanyName</a> 
        </div>
        <div class="row">
            <div class="col"> 
                <h6 class="ms-2">@item.Description</h6> 
            </div> 
        </div> 
    </li>
    }
</ul>
<nav style="width:100%">
    <ul class="pagination justify-content-center">     
    @{if(Model.Pagination.HasPreviousPage && Model.Pagination.HasNextPage)
    {
       <li class="page-item pe-1">
            <a class="btn btn-outline-dark btn-sm" style="border-radius: 0px;" asp-action="Company" asp-route-page="@(Model.Pagination.PageNumber-1)">Prev</a>
       </li> 
       <li class="page-item">
            <a class="btn btn-outline-dark btn-sm" style="border-radius: 0px;" asp-action="Company" asp-route-page="@(Model.Pagination.PageNumber+1)">Next</a>
       </li>
    }
    else if(Model.Pagination.HasPreviousPage)
    {
       <li class="page-item">
            <a class="btn btn-outline-dark btn-sm" style="border-radius: 0px;" asp-action="Company" asp-route-page="@(Model.Pagination.PageNumber-1)">Prev</a>
       </li> 
    }
    else
    {
        <li class="page-item">
            <a class="btn btn-outline-dark btn-sm" style="border-radius: 0px;" asp-action="Company" asp-route-page="@(Model.Pagination.PageNumber+1)">Next</a>
        </li>
    }}
    </ul>
    <h6 class="text-center">@Model.Pagination.PageNumber - @Model.Pagination.TotalPages</h6>
</nav>
