@model CallBoardNix.Models.UserViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="p-5" style="height:735px">
    <h5>
        Personal information:
    </h5>
    <br>
    <h5>
        Name: @Model.Name<br>
        Surname: @Model.Surname<br>
        Phone number: @Model.PhoneNumber<br><br>
        Login: @User.Identity.Name<br>
        Email: @Model.Email<br>
    </h5>
    <a class="mt-5 btn btn-outline-danger btn-sm" style="border-radius: 0px;" asp-action="EditUser" asp-controller="Account">Change</a>
</div>
<form class="ms-5 mb-5" method="post" asp-action="Logout" asp-controller="Account">
    <input class="btn btn-outline-danger btn-sm" style="border-radius: 0px;" type="submit" value="Logout"/>
</form>
